<button class="btn btn-outline-success my-2 my-sm-0 logout input ">logout</button>
<div class="login-container card m-4 p-4 ">
  <h5 class="card-title">Login</h5>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-primary text-white" id="loggin-addon1"><i class="fas fa-user"></i></span>
      </div>
      <input class="form-control form-control-lg username" type="text" placeholder="Gebruikersnaam" aria-describedby="loggin-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-primary text-white" id="password-addon1"><i class="fas fa-unlock"></i></span>
      </div>
      <input class="form-control form-control-lg password" type="password" placeholder="Wachtwoord" aria-describedby="password-addon1">
    </div>
    <button type="button" class="btn btn-block btn-secondary login">
      Inloggen
      <i class="fas fa-sign-in-alt"></i>
    </button>
    <button type="button" class="btn btn-block btn-secondary register">
      Register
      <!-- <i class="fas fa-registered"></i> -->
    </button>
  </div>
</div>
