<!-- all global modals will be saved here -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <label>Materialize Multi File Input</label>
    <div class = "file-field input-field">
      <div class = "btn">
        <span>Browse</span>
        <input type="file" id="uploadFiles" multiple />
      </div>
      <div class = "file-path-wrapper">
        <input class = "file-path validate" type = "text"
        placeholder = "Upload multiple files" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat js-ok">Agree</a>
  </div>
</div>
