<!-- JQuery -->
<script type="text/javascript" src="dest/js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="dest/js/popper.min.js"></script>
<script type="text/javascript" src="dest/js/bootstrap.min.js"></script>
<!-- Bootstrap filesystem JS -->
<script type="text/javascript" src="dest/js/bootstrap-filestyle.js"></script>
<script type="text/javascript" src="dest/js/bootstrap.fd.js"></script>
<script type="text/javascript" src="dest/js/bootstrap-filestyle.js"></script>
<!-- Mustache -->
<script type="text/javascript" src="dest/js/mustache.js"></script>
