<!-- mustach modals -->
<template class="">
    {{#.}}
    {{/.}}
</template>


<template class="courses-manage-template">
    {{#.}}
      <option value="{{id}}">{{name}}</option>
    {{/.}}
</template>

<<template class="sourcefiles-template">
  {{#.}}
    <div class="col s12 m6 js-source-files" data-course="{{courseName}}" data-name="{{name}}" data-id="{{id}}" data-ext="{{extension}}">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{name}}</span>
            <p>college: {{collegeName}}</p>
            <p>course: {{courseName}}</p>
          <p></p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  {{/.}}
</template>
