// Styling of the collapsibles on nieuw-document page.
.collapsible.expandable{
  box-shadow: none;
  border: 0;
  &.noMargin{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &>.collapsible-expand{
    // If the active class is added it has "-" prefixed, else it has "+" prefixed
    &>.collapsible-header>.collapsible-header-text:before
    {
      content: "+";
      margin-right: 5px;
    }
    &.active>.collapsible-header>.collapsible-header-text:before
    {
      content: "-";
      margin-right: 9.2px;
    }
  }
}
.collapsible-body{
  padding: 5px 0 5px 20px;
  & .collapsible-body{
    padding: 5px 0 5px 30px;
  }
}

.modal-content{
  .dropdown-content{
    overflow-y: scroll;
    max-height: 125px;
    margin-right: -5px;
  }
  .row{
    margin-bottom: 0;
  }
}
