.login{
  transition: .2s ease;
  opacity: 0;
  display: none;
  &__card{
    padding: 10px;
    margin-top: 50px;
  }
  &__btn{
    width: 100%;
    &-row{
      margin: 0;
    }
  }
  &__card-register{
    padding: 10px;
    margin-top: 25px;
  }
  &--inline{
    display:inline;
  }
  &--appear{
    opacity: 1;
  }
  &--active{
    display:inline;
    opacity: 1;
  }
  &--disappear{
    opacity: 0;
  }
}
.indexPage{
  overflow:hidden;
}
.register-btn{
  margin: 0 !important;
}
.register-btn-container{
  text-align: center;
}
