.scroll{
  position: fixed;
  width: 100%;
  z-index: -10;
  height: 100px;
  display: none;
  transition: .2s ease;
  &--top{
    top: 0px;
    left: 0px;
  }
  &--bot{
    bottom: 0px;
    left: 0px;
  }
  &--show{
    display: block;
  }
}
body{
  position: relative;
  overflow: auto;
}
@include portrait{
  .drag-container{
    height: 30%;
    width: 100% !important;
    overflow-y: scroll;
  }
  .drop-container{
    width: 100% !important;
  }
}
