.toast{
  &--error{
    background-color: #db515e ;
    color:white;
  }
  &--succes{
    background-color: #44a35a ;
    color:white;
  }
  &--warning{
    background-color: #efc853;
    color:white;
  }
  &--info{
    background-color: #2aa4b7 ;
    color:white;
  }
}
