.toast{
  &--error{
    background-color: #dc3545;
    color:white;
  }
  &--succes{
    background-color: #28a745;
    color:white;
  }
  &--warning{
    background-color: #ffc107;
    color:white;
  }
  &--info{
    background-color: #17a2b8;
    color:white;
  }
}
