@mixin create-keyframe($str) {
    @keyframes #{$str} {
        @content;
    }
}

/*
    $start-col = the column number where the item starts
    $start-row = the row number where the item starts
    $w = the width (without px)
    $h = the height (without px)

    $reverseCol = OPTIONAL: if given 1 (default to 0), the start_col will act as end_col, so it calculates where start col should be by the width

    $reverseRow = OPTIONAL: if given 1 (default to 0), the start_row will act as end_row, so it calculates where start row should be by the height
*/
@mixin gridItem($start_col, $start_row, $w, $h, $color) {
    $cols: $w;
    $rows: $h;

    grid-column-start: $start_col;
    grid-column-end: $start_col + $cols;

    grid-row-start: $start_row;
    grid-row-end: $start_row + $rows;

    background-color: $color;
}
