@import 'modules/breakpoints';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/typography';

@import 'components/login';
@import 'components/flash-message';
@import 'components/nav';
@import 'components/home';
@import 'components/collapsible';
@import 'components/file';

.disnone{
  display: none;
}
.login{
  transition: .2s ease;
  opacity: 0;
  display: none;
  &--inline{
    display:inline;
  }
  &--appear{
    opacity: 1;
  }
  &--active{
    display:inline;
    opacity: 1;
  }
  &--disappear{
    opacity: 0;
  }
}
.no-border-bot{
  border-bottom: 0;
}
.preview{
  width: 100%;
  height: 300px;
  margin-top: 12px
}
