@import 'modules/breakpoints';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/typography';

@import 'components/login.scss';
@import 'components/_flash-message.scss';
@import 'components/nav.scss';
@import 'components/home.scss';

.fuuuuuck{
  // background-color: red;
  margin:  2px 0px;
  border: 2px dashed yellow;
}
.item{
  transition: .2s ease;
}
.login{
  transition: .2s ease;
  opacity: 0;
  display: none;
  &--inline{
    display:inline;
  }
  &--appear{
    opacity: 1;
  }
  &--active{
    display:inline;
    opacity: 1;
  }
  &--disappear{
    opacity: 0;
  }
}
