@import 'modules/breakpoints';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/typography';

@import 'components/login';
@import 'components/scroll';
@import 'components/toast';
@import 'components/nav';
@import 'components/home';
@import 'components/collapsible';
@import 'components/file';
@import 'components/scrollbar';
@import 'components/loader';
.js-name-helper{
  margin-bottom: -18px;
}
.disnone{
  display: none !important;
}

.no-border-bot{
  border-bottom: 0;
}
.preview{
  width: 100%;
  height: 300px;
  margin-top: 12px
}
.dropdown-content li a{
  color: #26a69a !important;
}
.btn{
  background-color: #29959d;
  &:hover{
    background-color: #33bbc6;
  }
  &:focus{
    background-color: #1e6f75;
  }
}
nav{
  background-color:#2f8e7e  ;
}
.js-logout{
  // display: none;
}
