@import 'modules/breakpoints';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/typography';

@import 'components/login';
@import 'components/scroll';
@import 'components/toast';
@import 'components/nav';
@import 'components/home';
@import 'components/collapsible';
@import 'components/file';

.disnone{
  display: none;
}

.no-border-bot{
  border-bottom: 0;
}
.preview{
  width: 100%;
  height: 300px;
  margin-top: 12px
}
.dropdown-content li a{
  color: #26a69a !important;
}
